@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    <li class="d-flex align-items-center">
        <form class="input-group input-group-sm" method="post" asp-controller="MathProblem" asp-action="Search">
            <input type="text" class="form-control" placeholder="Search math problem" aria-label="Search math problem" aria-describedby="button-addon2" name="searchText">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Index" asp-route-userId="@UserManager.GetUserId(User)">Profile</a>
        </li>

        @if (User.IsInRole("admin"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">AdminPage</a>
            </li>
        }

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
